@charset "UTF-8";
@import url(font-awesome.min.css);
@import "https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:300,400|Pacifico";

/* Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
}

/* Type */

body, input, select, textarea {
    color: #767d85;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 13pt;
    font-weight: 300;
    line-height: 1.65;
}

@media screen and (max-width: 1680px) {

    body, input, select, textarea {
        font-size: 11pt;
    }

}

@media screen and (max-width: 1280px) {

    body, input, select, textarea {
        font-size: 11pt;
    }

}

@media screen and (max-width: 980px) {

    body, input, select, textarea {
        font-size: 12pt;
    }

}

@media screen and (max-width: 736px) {

    body, input, select, textarea {
        font-size: 12pt;
    }

}

@media screen and (max-width: 480px) {

    body, input, select, textarea {
        font-size: 12pt;
    }

}

a {
    color: #25a2c3;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

strong, b {
    color: #727a82;
    font-weight: 700;
}

em, i {
    font-style: italic;
}

p {
    margin: 0 0 2em 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #727a82;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    margin: 0 0 1em 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 2em;
    line-height: 1.3;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.9em;
}

h6 {
    font-size: 0.7em;
}

sub {
    font-size: 0.8em;
    position: relative;
    top: 0.5em;
}

sup {
    font-size: 0.8em;
    position: relative;
    top: -0.5em;
}

blockquote {
    font-style: italic;
    margin: 0 0 2em 0;
}

cite {
    display: block;
}

cite.author {
    font-weight: 400;
}

cite.company {
    font-size: .8em;
}

figure {
    margin: 0 0 2em 0;
}

code {
    background: rgba(144, 144, 144, 0.075);
    border-radius: 4px;
    border: solid 1px #dee1e3;
    font-family: "Courier New", monospace;
    font-size: 0.9em;
    margin: 0 0.25em;
    padding: 0.25em 0.65em;
}

pre {
    -webkit-overflow-scrolling: touch;
    font-family: "Courier New", monospace;
    font-size: 0.9em;
    margin: 0 0 2em 0;
}

pre code {
    display: block;
    line-height: 1.75;
    padding: 1em 1.5em;
    overflow-x: auto;
}

hr {
    border: 0;
    border-bottom: solid 1px #dee1e3;
    margin: 2em 0;
}

hr.major {
    margin: 3em 0;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

/* Header */

body {
    padding-top: 6em;
}

#header {
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    background: #fff;
    cursor: default;
    height: 6em;
    left: 0;
    line-height: 6em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10001;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.075);
    text-align: center;
}

#header .logo {
    color: #f6755e;
    font-family: "Pacifico", cursive;
    font-size: 2.5em;
    letter-spacing: 2px;
    margin-top: -5px;
    text-decoration: none;
    display: inline-block;
}

#header nav {
    position: absolute;
    top: 0;
    height: inherit;
    line-height: inherit;
}

#header nav.left {
    left: 2em;
}

#header nav.right {
    right: 2em;
}

#header nav .button {
    padding: 0 2em;
    height: 3.25em;
    line-height: 3.25em;
}

#header nav a {
    text-decoration: none;
    display: inline-block;
}

#header nav a[href="#menu"] {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 2em;
    color: #dee1e3;
    z-index: 10005;
}

#header nav a[href="#menu"]:before {
    content: "";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

#header nav a[href="#menu"] span {
    display: none;
}

#header nav a[href="#menu"]:before {
    margin: 0 0.5em 0 0;
}

@media screen and (max-width: 980px) {

    body {
        padding-top: 44px;
    }

    #header {
        height: 44px;
        line-height: 44px;
    }

    #header .logo {
        font-size: 1.25em;
        text-align: center;
    }

    #header nav a[href="#menu"] {
        font-size: 1.5em;
    }

    #header nav.left {
        left: 1em;
    }

    #header nav.right {
        display: none;
    }

}

@media screen and (max-width: 480px) {

    #header {
        min-width: 320px;
    }

}

/* Menu */

#menu {
    -moz-transform: translateX(-20em);
    -webkit-transform: translateX(-20em);
    -ms-transform: translateX(-20em);
    transform: translateX(-20em);
    -moz-transition: -moz-transform 0.5s ease, visibility 0.5s;
    -webkit-transition: -webkit-transform 0.5s ease, visibility 0.5s;
    -ms-transition: -ms-transform 0.5s ease, visibility 0.5s;
    transition: transform 0.5s ease, visibility 0.5s;
    -webkit-overflow-scrolling: touch;
    background: #25a2c3;
    color: #ffffff;
    height: 100%;
    max-width: 80%;
    overflow-y: auto;
    padding: 3em 2em;
    position: fixed;
    left: 0;
    top: 0;
    visibility: hidden;
    width: 20em;
    z-index: 10002;
}

#menu > ul {
    margin: 0 0 1em 0;
}

#menu > ul.links {
    list-style: none;
    padding: 0;
}

#menu > ul.links > li {
    padding: 0;
}

#menu > ul.links > li > a:not(.button) {
    border: 0;
    border-top: solid 1px rgba(255, 255, 255, 0.25);
    color: inherit;
    display: block;
    line-height: 3.5em;
    text-decoration: none;
}

#menu > ul.links > li > .button {
    display: block;
    margin: 0.5em 0 0 0;
}

#menu > ul.links > li:first-child > a:not(.button) {
    border-top: 0 !important;
}

#menu > ul.actions {
    display: none;
}

#menu .close {
    text-decoration: none;
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    -webkit-tap-highlight-color: transparent;
    border: 0;
    color: #a7d9e7;
    cursor: pointer;
    display: block;
    height: 3.25em;
    line-height: 3.25em;
    padding-right: 1.25em;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    vertical-align: middle;
    width: 7em;
}

#menu .close:before {
    content: "";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

#menu .close:before {
    font-size: 1.25em;
}

#menu .close:hover {
    color: #ffffff;
}

@media screen and (max-width: 736px) {

    #menu .close {
        height: 4em;
        line-height: 4em;
    }

}

#menu.visible {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
}

@media screen and (max-width: 980px) {

    #menu ul.actions {
        display: block;
    }

}

@media screen and (max-width: 736px) {

    #menu {
        padding: 2.5em 1.75em;
    }

}

/* Section */

section.img-bg {
    background-image: url(../images/banner.jpg);
    padding-top: 45px;
}


/*Pricing Page
------------------------------------*/
/*Pricing Head*/
.no-space-pricing [class^="col-"],
.no-space-pricing [class*=" col-"] {
    padding: 0;
}
.pricing {
    transition: all 0.3s ease;
    position:relative;
    border-radius:3px;
    margin-bottom:50px;
    box-shadow:0 0 5px #eee;
    background-color: #FFFFFF;
    border: 1px solid #E74C3C;
}
.pricing:hover {
    z-index: 9;
    box-shadow:0 0 15px #555;
    transition: all 0.3s ease;
    margin-top: -15px;
    padding-bottom: 15px;
}

.pricing:hover h4 {
    color:#F6755E;
}

.pricing:hover li {
    color:#F6755E;
}

.pricing-head {
    text-align:center;
}
.pricing h3,
.pricing h4 {
    margin:0;
    line-height:normal;
    font-weight:bold;
}
.pricing p {
    padding-top: 10px;
    font-size: 11px;
}
.pricing-head h3 {
    color:#fafafa;
    padding:12px 0;
    font-size:40px;
    font-family: "Pacifico", cursive;
    background:#F6755E;
    border-radius:3px 3px 0 0;
    text-shadow:0 1px 0 #000;
}
.pricing-head img {
    width: 100%;
}
.pricing-head h4 {
    color: #888;
    padding:5px 0;
    font-size:50px;
    font-family: "Pacifico", cursive;
    text-shadow:0 1px 0 #fff;
    border-bottom:solid 1px #f5f9e7;
    font-weight: lighter;
}

/*Pricing Content*/

.pricing-content  {
    margin-bottom: 0px;
}
.pricing-content li {
    color:#888;
    font-size:12px;
    padding:7px 15px;
    border-bottom:solid 1px #f5f9e7;
}
.pricing-content li i {
    color:#E74C3C;
    font-size:16px;
    margin-right:5px;
    position:relative;
}

/*Pricing Footer*/
.pricing-footer {
    color:#777;
    font-size:11px;
    line-height:17px;
    text-align:center;
    padding:0 20px 19px;
    border-radius:0 0 3px 3px;
}

.pricing-footer button{
    border: 0;
    color: #fff;
    background-color: #E74C3C;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    white-space: nowrap;
    display: inline-block;
    text-decoration: none;
}

.pricing-footer button:hover{
    color: #FFF;
    background-color: #ac2925;
}

.margin-top-40 {
    margin-top: 40px;
}

.input-search{
    width: 100%;
    padding: 20px 20px 20px 40px;
    border: 0px solid;
    border-radius: 40px;
    font-size: 20px;
    margin-bottom: 40px;
}

.input-search:before {
    font-family: FontAwesome;
    position: absolute;
    top: 0px;
    left: -5px;
    content: "\f007";
}

.input-search:focus{
    outline: none;
}


/* ---- button ---- */

.button {
    display: inline-block;
    padding: 0.5em 1.0em;
    margin-bottom: 10px;
    margin-top: -10px;
    background-color: #FFFFFF;
    border: 1px solid #F6755E;
    border-radius: 7px;
    color: #F6755E;
    font-family: sans-serif;
    font-size: 13px;
    cursor: pointer;
    outline: none;
}

.button:hover {
    background-color: rgba(246, 117, 94, 0.7);
    color: #FFF;
    outline: none;
}

.button:active,
.button.is-checked {
    background-color: #F6755E;
    outline: none;
}

.button.is-checked {
    color: white;
    outline: none;
}

.button:active {
    outline: none;
    box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group:after {
    content: '';
    display: block;
    clear: both;
}

.button-group .button {
    float: left;
    border-radius: 0;
    margin-left: 0;
    margin-right: -1px;
}

.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }

.sort-panel{
    margin-left: 15px;
    margin-bottom: 40px;
}
.sort-panel h3{
    font-size: 25px;
    color: #F6655E;
    font-family: "Pacifico", cursive;
}

.ui-group h3{
    font-size: 25px;
    color: #F6655E;
    font-family: "Pacifico", cursive;
}

.shopping-cart-rappi {
    position: fixed;
    bottom: -160px;
    left: calc(50% - 128px);
    z-index: 9;
}

.btn-shopping-cart:hover{
    cursor: pointer;
}

#shopping-cart-modal .modal-content {
    margin-top: 100px;
    height: 500px;
    max-height: 500px;
}

#shopping-cart-modal .modal-header {
    background-color: #F6755E;
}
#shopping-cart-modal .modal-header h4{
    font-family: "Pacifico", cursive;
    color: #FFFFFF;
    font-size: 30px;
}

#shopping-cart-modal .width-infinity{
    width: 100%;
    overflow-x: scroll;
}

#shopping-cart-modal .modal-body{
    width: 7000px;
}
#shopping-cart-modal .panel-rappi-shopping{
    float: left;
    margin-right: 20px;
    display: inline-block;
}
#shopping-cart-modal .price{
    font-family: "Pacifico", cursive;
    font-style: italic;
    font-size: 35px;
    color: #F6755E;
}

.panel-rappi-shopping {
    border-radius:  7px;
    border-color: #F6755E;
}

.panel-rappi-shopping:hover {
    margin-top: -10px;
    box-shadow:0 0 15px #555;
    transition: all 0.3s ease;
}

.panel-rappi-shopping  .panel-heading{
    background-color: #F6755E;
    border-color: #F6755E;
    font-size: 15px;
    font-family: "Pacifico", cursive;
    text-align: center;
}

.panel-rappi-shopping .product-cant{
    margin-top: -20px;
    margin-bottom: 20px;
}

.panel-rappi-shopping .number{
    padding: 10px;
}

.panel-btn-delete {
    margin-bottom: 20px;
}

@media screen /*xs*/
and (max-width: 576px) {

    .button{
        font-size: 11px;
    }
}

@media screen /*sm*/
and (min-width : 576px) {}

@media screen /*md*/
and (min-width : 768px) {}

@media screen /*lg*/
and (min-width : 992px) {}

@media screen /*xl*/
and (min-width : 1200px) {}